.button {
  cursor: pointer;
  position: fixed;
  bottom: 9vh;
  right: 7vh;
  background-color: rgb(82, 82, 255);
  color: white;
  padding: 15px;
  border-radius: 100px;
  box-shadow: 2px 2px 2px gray;
}

span {
  font-size: large;
  font-weight: bold;
  color: rgb(94, 94, 94);
}
